<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="container">
  <h1>Login</h1>
  <form method="post" action="/login">
    <input name="username" placeholder="Nome de utilizador" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Entrar</button>
  </form>
  <p>Não tem conta? Regista-te <a href="/register">aqui</a></p>
</div>
</body>
</html>